<footer class="bg-gray-950 text-white py-6 mt-auto">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <div class="text-lg font-bold">
        <a href="{% url "appointments:index" %}" class="hover:text-gray-200">Logo</a>
      </div>
      
      <div class="space-x-6">
        <a href="{% url "appointments:our_services" %}" class="hover:text-gray-200">Sobre</a>
        <a href="{% url "contact" %}" class="hover:text-gray-200">Contato</a>
        <a href="#" class="hover:text-gray-200">Política de Privacidade</a>
      </div>
    </div>
    <div class="mt-4 text-center text-sm text-gray-400">
      <p>&copy; 2024 Barbearia Rei do Corte. Todos os direitos reservados.</p>
    </div>
</footer>