{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <article class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 items-stretch max-w-7xl mx-auto">
     
        <div class="bg-gray-950 p-6 rounded-lg shadow-md flex flex-col justify-center">
            <h1 class="text-3xl font-bold text-gray-200 mb-4">Bem-vindo à Barbearia <span class='text-blue-600'>Rei do Corte<span>!</h1>
            <p class="text-gray-200 leading-relaxed">
                Localizada no coração da cidade, a Barbearia Rei do Corte é mais do que um local para cortar o cabelo ou fazer a barba. Somos um espaço dedicado ao cuidado, ao estilo e à experiência do homem moderno. Nossa missão é oferecer serviços de excelência em um ambiente descontraído, elegante e acolhedor, onde cada cliente se sinta valorizado e renovado ao sair.
            </p>
            <p class="text-gray-200 leading-relaxed mt-4">
                Nossa equipe é composta por barbeiros altamente qualificados, que combinam tradição com inovação. Aqui, você encontrará profissionais que dominam tanto os cortes clássicos quanto as tendências mais modernas, como o corte degradê (fade) e designs personalizados. Além disso, oferecemos um atendimento exclusivo para crianças, criando um ambiente amigável para toda a família.
            </p>
            <p class="text-gray-200 leading-relaxed mt-4">
                Na Barbearia Rei do Corte, acreditamos que o cuidado pessoal vai além da estética. Por isso, utilizamos apenas produtos de qualidade premium, garantindo a saúde dos seus cabelos e da sua barba. Além dos nossos serviços, também oferecemos tratamentos capilares especializados, para quem busca revitalizar e fortalecer os fios.
            </p>
        </div>

        <div class="flex items-center justify-center">
            <img src="{% static "imgs/barbershop.jpg" %}" 
                 alt="imagem de um barbeiro fazendo a barba" 
                 class="rounded-lg shadow-md w-full h-full object-cover">
        </div>
    </article>
</div>
{% endblock content %}
