{% extends "base.html" %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen">
        <article class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6">
            <div class="bg-gray-950 gap-6 p-6 rounded-lg shadow-md max-w-full">
                <h1 class="text-3xl font-bold text-gray-200 mb-4">Bem-vindo à Barbearia Rei do Corte!</h1>
                <p class="text-gray-200 leading-relaxed">
                    Localizada no coração da cidade, a Barbearia Rei do Corte é mais do que um local para cortar o cabelo ou fazer a barba. Somos um espaço dedicado ao cuidado, ao estilo e à experiência do homem moderno. Nossa missão é oferecer serviços de excelência em um ambiente descontraído, elegante e acolhedor, onde cada cliente se sinta valorizado e renovado ao sair.
                </p>
                <p class="text-gray-200 leading-relaxed mt-4">
                    Nossa equipe é composta por barbeiros altamente qualificados, que combinam tradição com inovação. Aqui, você encontrará profissionais que dominam tanto os cortes clássicos quanto as tendências mais modernas, como o corte degradê (fade) e designs personalizados. Além disso, oferecemos um atendimento exclusivo para crianças, criando um ambiente amigável para toda a família.
                </p>
                <p class="text-gray-200 leading-relaxed mt-4">
                    Na Barbearia Rei do Corte, acreditamos que o cuidado pessoal vai além da estética. Por isso, utilizamos apenas produtos de qualidade premium, garantindo a saúde dos seus cabelos e da sua barba. Além dos nossos serviços, também oferecemos tratamentos capilares especializados, para quem busca revitalizar e fortalecer os fios.
                </p>
                <p class="text-gray-200 leading-relaxed mt-4">
                    Nosso espaço foi projetado para proporcionar conforto e praticidade. Enquanto espera, você pode relaxar em uma sala climatizada, aproveitar o Wi-Fi gratuito ou saborear um café feito na hora. Trabalhamos com agendamentos online e atendimento personalizado, garantindo que seu tempo seja respeitado e sua experiência seja memorável.
                </p>
                <p class="text-gray-200 leading-relaxed mt-4">
                    Convidamos você a conhecer a Barbearia Rei do Corte e experimentar a diferença. Não importa se você precisa de um corte rápido, um alinhamento de barba impecável ou um momento para renovar o visual: estamos prontos para atendê-lo com profissionalismo e dedicação. Seja rei do seu estilo — venha para a Rei do Corte!
                </p>
            </div>
            <div>
                <img src="https://imgs.search.brave.com/brxy6Pbn3YLfyb0jCpVUzJw4GATOVR6b9OZFWzJpa7s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGFtYWZpYWJhcmJl/YXJpYS5jb20uYnIv/d3AtY29udGVudC91/cGxvYWRzLzIwMjQv/MDYvYmctYm94LWJh/cmJhLndlYnA" 
                alt="imagem de um barbeiro fazendo a barba" 
                class="rounded-lg shadow-md max-w-full">
            </div>
        </article>
    </div>
{% endblock content %}
