<div id="deleteModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
    <div class="bg-zinc-950 p-6 rounded-lg shadow-lg max-w-sm w-full">
        <h2 class="text-xl font-semibold mb-4">Desativar Conta</h2>
        <p class="text-gray-300 mb-6">Tem certeza de que deseja <span class='text-red-500'>desativar sua conta</span>?</p>
        <div class="flex justify-end gap-4">
            <button onclick="hideDeleteModal()" 
                    class="bg-gray-300 text-black py-2 px-4 rounded-lg hover:bg-gray-400">Cancelar</button>
            <form method="post" action="{% url 'appointments:deactivate_account' user.pk %}">
                {% csrf_token %}
                <button type="submit" 
                        class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600">Desativar</button>
            </form>
        </div>
    </div>
</div>
